@model DeliveryEat.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>APAGAR</h1>

    <h3>Tem a certeza?</h3>
    <div>
        <h4>Pedido</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Pedido: @Html.DisplayNameFor(model => model.Pessoas.Id)
            </dt>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            <a asp-action="Index">voltar</a>
        </form>
    </div>
}