@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Comece o seu pedido <a href="@Url.Action("Index", "Restaurantes")">aqui</a>.</p>
</div>
